@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

}
#block-body {
    width: auto;
    height: auto;
}
header {
   width: auto;
   height: 80px;
   background-color: #2d2d2d;
}
.logo {
    width: 200px;
    float: left;
    height: 80px;
    text-align: center;
    line-height: 3.5em;
}
.logo a {
    display: block;
    margin-left: 15px;
    margin-top: 10px;
    font-family: "Exo2-Bold", sans-serif;
    font-size: 28px;
    color:  #b2aeb2;
    text-decoration: none;
    cursor: pointer;
}
.use {
    color: #fffffd;

}
.web {
    color: #fffffd;
}
.logo p {
    margin-left: 20px;
    margin-top: 2px;
    margin-bottom: 5px;
    font-family:  "Exo2-Medium", sans-serif;
    font-size: 13px;
    color: white;
}
.top-menu {
    overflow-inline: revert;
    float: right;
    line-height: 2em;
}
.block-top-auth {
    width: 150px;
    float: right;
    margin-left: 40px;
    margin-right: 40px;
    height: 80px;
}
.top-menu ul li {
    list-style: none;
    float: left;
    text-align: center;
}
.top-menu ul li a {
    display: block;
    width: 150px;
    text-decoration: none;
    font-family:  "Exo2-Medium", sans-serif;
    font-size: 17px;
    color: white;
    height: 4.69em;
    padding-top: 25px;
    cursor: pointer;
}
.top-menu ul li a:hover {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    background: rgba(255, 174, 0, 0.85);
}
h2,h4,h1,h3{
    text-align: center;
    font-family: Ultra;
    color: black;

}

#dg {
    background: #e0e0e0;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
}
#dg h4 {
    font-size: 40px;
}
.wrapper{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}


/** blok photo*/
.page-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

}
.content-wrapper {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    flex-basis: 30%;
    flex: 1;

    height: 30%;
}

.content-wrapper-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 3%;
    padding-right: 3%;
    flex-basis: 100%;
    flex: 1;

}


body{
    font-size: 16px;
    color: #9c9c9c;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    line-height: 1;

}
.row{
    background-color: #f2f2f2;
    padding-top: 10px;
}
h4,h1{
    text-align: center;
    font-family: Ultra;

}
a:hover,a:focus{
    color:#7b7b7b;
    text-decoration: none;
    outline: 0;
}

.navbar{
    font-weight: 800;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-inverse{
    background: #2d2d2d;
    border-color: #2d2d2d;
}

.navbar-inverse .navbar-nav > .active > a{
    background-color: #ff7878;
}

.navbar-inverse .navbar-brand{
    color: #999;
    font-size: 22px;
    font-weight: bolder;
}
/*РѕСЃРЅРѕРІР°*/
#headerwrap{
    background: url(../img/6.png)  center top;
    padding-top: 20px;
    text-align: center;

    background-attachment: revert;
    background-position: center center;
    min-height: 500px;
    width: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}
.w h4 {
    font-size: 25px;
}
#dg {
    background: #ffffff;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
}
#dg h4 {
    font-size: 40px;
}

/*РЈРІРµР»РёС‡РёРІР°РЅРёРµ РєР°СЂС‚РёРЅРєРё*/
.scale {
transition: 1s; /* Р’СЂРµРјСЏ СЌС„С„РµРєС‚Р° */
}
.scale:hover {
transform: scale(1.2); /* РЈРІРµР»РёС‡РёРІР°РµРј РјР°СЃС€С‚Р°Р± */
}

#r{
    text-align: center;
    padding: 20px;
    background-color: #f2f2f2;
}
#onas{
    text-align: center;
     background-color: #f2f2f2;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    color: black;
    font-size: 20px;
}
#r h4{
    color: white;
    font-size: 45px;
}

#r p {
    color: black;;
}
/*РґРЅРѕ(РІРє/С‚РІРёС‚/С„СЌР№СЃР±СѓРє)*/
#f {
    background: #2d2d2d;
    padding-top: 30px;
    padding-bottom: 50px;
}
#f i {
    background: #bdbdbd;
    padding-top: 30px;
    padding-bottom: 20px;
}

.header_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #7b7b7b;
    margin-top: 20px;
}
