{% load static%}
<!DOCTYPE html>
<html lang="ru-RU" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href={%  static "main/css/card_prod_chicken.css"%}>
</head>
<body>
<div id="block-body">
     <header>
       <div class="logo">
        <a href="">
          <span class="use">Meet</span>-<span class="web">Shop</span>
        </a>
       </div>
       <div class="top-menu">
         <ul>
             <li><a href="{% url 'users:profile' %}">Корзина</a></li>
             <li><a href="{% url 'users:logout' %}">Выйти</a></li>
         </ul>
       </div>
     </header>
    </div>


<div class="name-meet">
     <h1>{{ h1 }}</h1>
</div>

<div class="glf">
    <img src="{% static 'main/img/pig.png'  %}" alt="" class="glf">
</div>

<div class="section">
 <div class="container">
  <div class="wrapper">
   <div class="page-wrapper">
    {% for cards_pig in products %}
         <div class="card">
      <img src="{{ cards_pig.image.url }}" alt="">
      <div class="content">
        <div class="row">
          <div class="details">
            <span>{{ cards_pig.name }}</span>
          </div>
          <div class="price">{{ cards_pig.price }}</div>
        </div>
          <a class="text1" href="{% url 'basket_add'  cards_pig.id %}">
               <div class="buttons">
                    <button class="cart-btn">В корзину</button>
               </div>
          </a>
      </div>
    </div>
    {% endfor %}


   </div>
  </div>
 </div>
</div>

      <div id="f">
        <div class="container">
        </div>
      </div>
</body>

</html>