{% load static%}
<!DOCTYPE html>
<html lang="ru-RU" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href={%  static "main/css/card_prod_cow.css"%}>
</head>
<body>
<div id="block-body">
     <header>
       <div class="logo">
        <a href="">
          <span class="use">Meet</span>-<span class="web">Shop</span>
        </a>
       </div>
       <div class="top-menu">
         <ul>
             <li><a href="#">Заказать</a></li>
             <li><a href="#">Про нас</a></li>
             <li><a href="#">Корзина</a></li>
             <li><a href="#">Вход</a></li>
             <li><a href="#">Регистрация</a></li>
         </ul>
       </div>
     </header>
    </div>


<div class="name-meet">
     <h1>{{ h1 }}</h1>
</div>

<div class="glf">
    <img src="{% static 'main/img/cow.png'  %}" alt="" class="glf">
</div>

<div class="section">
 <div class="container">
  <div class="wrapper">
   <div class="page-wrapper">
    {% for cards_cow in products %}
         <div class="card">
      <img src="{{ cards_cow.image.url }}" alt="">
      <div class="content">
        <div class="row">
          <div class="details">
            <span>{{ cards_cow.name }}</span>
          </div>
          <div class="price">{{ cards_cow.price }}</div>
        </div>
        <div class="buttons">
          <button class="cart-btn">В корзину</button>
        </div>
      </div>
    </div>
    {% endfor %}
   </div>
  </div>
 </div>
</div>

      <div id="f">
        <div class="container">
        </div>
      </div>
</body>

</html>